<div id="hero-panel">
<div class="container">
<div class="row">
<div class="span12">
<h1>
<div class="logo"> <%= image_tag "rubywx.png" %>
</div>
<class="link-logo">Ruby MEETUP Kiev</a>
</h1>
</div>
</div>
</div>
</div>
<div id="main-info">
<div class="container">
<div class="row">
<div class="span6">
<h2>Чем мы занимаемся</h2>
<ul class="what-we-do unstyled">
<li class="cources">Проводим курсы для всех желающих познакомиться и начать работать с языком программирования Ruby и фреймворком Ruby on Rails.</li>
<li class="events">Организовываем регулярные еженедельные события по тематике Web и конференции IT направленности.</li>
<li class="startups">Делаем свои стартапы и приглашаем всех желающих к совместной работе. Пишем open source.</li>
</ul>
</div>
<div class="span6">
<ul class="contacts unstyled">
<h2>Как с нами связаться</h2>
<p>Мы всегда открыты для новых идей и проектов. Если у вас возникло желание получить или поделится знаниями, организовать конференцию или поучаствовать в разработке интересных продуктов, мы всегда будем рады слышать вас:</p>
<ul class="contacts unstyled">
<li class="email">artem.suchov@gmail.com</li>
<li class="tel">38 095 168 20 33</li>
<li class="skype">SuchovAV</li>
</ul>
</div>
</div>
</div>
</div>
