<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
     <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
     
     </button>
     <div class="brand">RubyMEETUPKiev</div>

      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "People", "#" %></li>
          <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        </ul>
      </nav>
    </div>
  </div>
</header>
